// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.spaced {
  border-collapse: separate;
  border-spacing: 20px 0;
}

.order-list {
  display: flex;
  align-items: center
}

.order-list div {
  padding: 10px;
}
